body{
    background-color: rgb(55, 10, 10);
    color: black;
}
section{
    background: rgb(222, 87, 222);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}